
<!DOCTYPE html>
    <html lang='en'>
        <head>
            <meta charset="utf-8" />
            <title></title>
            <link href="form.css" rel="stylesheet" type="text/css" />
            
        </head>
        <body>
            <div id="page">
                <div class="u_form">
                    </div>
                    <!-- u_header -->
                      <div id="banner">
                            <div class="message">
                                <span>Registration Form </span>
                            </div>
                            
                        </div>
                        <!-- banner -->
                      <!-- header -->
                      </div>
                <!-- container-->
                           
                         </div>
                        <!-- description -->
                        <div class="u_row" >
                            <div class="u_activity">
                              <div class="u_heading">
                            <h4></h4>
                            </div>
                              <form action="">
<fieldset>
<legend>Personal information:</legend>
Name: <input type="text" size="30"><br>
last name: <input type="text" size="30"><br>
Degree Program: <input type="text" size="30"><br>

Sex:<br>
<input type="radio" name="sex" value="male">Male<br>
<input type="radio" name="sex" value="female">Female<br>
Marital status:<br>
<input type="radio" name="marital" value="single">single<br>
<input type="radio" name="marital" value="married">Married<br>
</fieldset>
</form>

                            </div>
                        </div>
                        <div class="u_activity">
                              <div class="u_heading">
                            <h4> </h4>
                            </div>
							<form action="">
<fieldset>
<legend>Contacts:</legend>
Mailing Address: <input type="text" size="30"><br>
E-mail: <input type="text" size="30"><br>
Cell phone: <input type="text" size="15">
</fieldset>
</form>
                             
                            </div>
                        <div class="u_activity">
                              <div class="u_heading">
                            <h4></h4>
                            </div>
                              <form action="">
<fieldset>
<legend>Personal Profile:</legend>
<h4>skills</h4>:<textarea rows="
3" cols="60">

</textarea>
<h4>Hobbies & Interests</h4>:<textarea rows="3" cols="60">

</textarea></fieldset>

</form>
                            </div>
                        <!-- u_row -->
                   <input type="submit" value="Submit">
                      <!-- content -->
                      <div class="u_footer">
                        
                        </div>
                       
                        <div class="copyright">
                            <p>&copy;2014 UICT Community</p>
                        </div>
                        
                      </div>
                    </div>
                
            </div>
        </body>
    </html>